@model FootballMatchOrganizer.DAL.Team

@{
    ViewBag.Title = "Create";
}

<h2>Create team</h2>


@using (Html.BeginForm("Create", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" title="logo image" id="image_file" style="display: none" name="image_file" onchange="show(this)" />
                <img id="logo_img" height="100" width="100" src="/images/team-logo.png" style="cursor:pointer; border:solid;" class="img-rounded" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" /> @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#logo_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            } else {
                console.log("Not found");
            }
        }
        $("#logo_img").click(function () {
            $("#image_file").trigger('click');
        });
    </script>
}
