@model FootballMatchOrganizer.Models.StatisticsModels.TeamsPlayersStatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

<h2>Team statistic</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().NumberOfWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().NumberOfDraws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().NumberOfLosses)
        </th>
    </tr>

    @foreach (var item in Model.Teams)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDraws)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLosses)
            </td>
        </tr>
    }

</table>
<hr />

<h2>Player statistic</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Matches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().TeamName)
        </th>
    </tr>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
        </tr>
    }

</table>